<a href="https://colab.research.google.com/github/jhphan/ML-Notebooks/blob/main/test-notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# authenticate to gcloud
!gcloud auth application-default login

In [ ]:
# udpate these variables
client_project = 'your client project'
project = 'your project'

In [ ]:
# Load dependencies
from google.cloud import bigquery
import pandas as pd

In [ ]:
# Create a client to access the data within BigQuery
client = bigquery.Client(client_project)

In [58]:
# List datasets
datasets = pd.DataFrame(
  data=[
    {"dataset_id": dataset.dataset_id} for dataset in list(
      client.list_datasets("{}".format(project))
    )
  ]
)
datasets

             dataset_id
0              0_README
1            BEATAML1_0
2       CCLE_bioclin_v0
3     CCLE_hg19_data_v0
4          GDC_metadata
5               GTEx_v7
6                  HCMI
7              ORGANOID
8                  QotM
9                TARGET
10    TARGET_bioclin_v0
11  TARGET_hg38_data_v0
12      TCGA_bioclin_v0
13    TCGA_hg19_data_v0
14    TCGA_hg38_data_v0
15       Toil_recompute
16    ccle_201602_alpha
17            functions
18     genome_reference
19   hg19_data_previews
20   hg38_data_previews
21             metadata
22      pancancer_atlas
23   platform_reference
24     tcga_201607_beta
25         tcga_cohorts
26    tcga_seq_metadata

In [59]:
# List tables in the clinical dataset
tables = pd.DataFrame(
  data=[
    {"table_id": table.table_id} for table in list(
      client.list_tables("{}.TCGA_bioclin_v0".format(project))
    )
  ]
)
tables

      table_id
0  Annotations
1  Biospecimen
2     Clinical
3  clinical_v1

In [62]:
# Describe the clinical dataset
clinical_schema = client.query(
  (
    "SELECT * "
    "FROM `{}.TCGA_bioclin_v0`.INFORMATION_SCHEMA.COLUMNS "
    "WHERE table_name='Clinical'"
  ).format(project)
).result().to_dataframe()
clinical_schema

   table_catalog  ... clustering_ordinal_position
0        isb-cgc  ...                        None
1        isb-cgc  ...                        None
2        isb-cgc  ...                        None
3        isb-cgc  ...                        None
4        isb-cgc  ...                        None
..           ...  ...                         ...
68       isb-cgc  ...                        None
69       isb-cgc  ...                        None
70       isb-cgc  ...                        None
71       isb-cgc  ...                        None
72       isb-cgc  ...                        None

[73 rows x 15 columns]

In [64]:
# Get number of samples for each cancer type
project_num_samples = client.query(
  (
    "SELECT project_short_name, count(*) as num_samples "
    "FROM `{}.TCGA_bioclin_v0`.Clinical "
    "GROUP BY project_short_name "
    "ORDER BY num_samples DESC "
  ).format(project)
).result().to_dataframe()
project_num_samples

   project_short_name  num_samples
0           TCGA-BRCA         1098
1            TCGA-GBM          617
2             TCGA-OV          608
3           TCGA-LUAD          585
4           TCGA-UCEC          560
5           TCGA-KIRC          537
6           TCGA-HNSC          528
7            TCGA-LGG          516
8           TCGA-THCA          507
9           TCGA-LUSC          504
10          TCGA-PRAD          500
11          TCGA-SKCM          470
12          TCGA-COAD          461
13          TCGA-STAD          443
14          TCGA-BLCA          412
15          TCGA-LIHC          377
16          TCGA-CESC          307
17          TCGA-KIRP          291
18          TCGA-SARC          261
19          TCGA-LAML          200
20          TCGA-ESCA          185
21          TCGA-PAAD          185
22          TCGA-PCPG          179
23          TCGA-READ          172
24          TCGA-TGCT          150
25          TCGA-THYM          124
26          TCGA-KICH          113
27           TCGA-ACC           92
28          TCGA-MESO           87
29           TCGA-UVM           80
30          TCGA-DLBC           58
31           TCGA-UCS           57
32          TCGA-CHOL           51