<a href="https://colab.research.google.com/github/jhphan/ML-Notebooks/blob/main/test-notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# authenticate to gcloud
!gcloud auth application-default login

In [11]:
# udpate these variables
client_project = 'cgc-05-0051'
project = 'isb-cgc-bq'

In [12]:
# Load dependencies
from google.cloud import bigquery
import pandas as pd

In [ ]:
# Create a client to access the data within BigQuery
client = bigquery.Client(client_project)

In [14]:
# List datasets
datasets = pd.DataFrame(
  data=[
    {"dataset_id": dataset.dataset_id} for dataset in list(
      client.list_datasets("{}".format(project))
    )
  ]
)
datasets

                              dataset_id
0                               0_README
1                             BEATAML1_0
2                   BEATAML1_0_versioned
3                                  CBTTC
4                        CBTTC_versioned
5                                   CCLE
6                         CCLE_versioned
7                                   CGCI
8                         CGCI_versioned
9                                    CMI
10                         CMI_versioned
11                                 CPTAC
12                       CPTAC_versioned
13                                  CTSP
14                        CTSP_versioned
15                                    FM
16                          FM_versioned
17                GDC_case_file_metadata
18      GDC_case_file_metadata_versioned
19                               GENCODE
20                     GENCODE_versioned
21                                 GENIE
22                       GENIE_versioned
23                                  GPRP
24                        GPRP_versioned
25                                  HCMI
26                        HCMI_versioned
27                                  ICPC
28                        ICPC_versioned
29                                  MMRF
30                        MMRF_versioned
31                                NCICCR
32                      NCICCR_versioned
33                                  OHSU
34                        OHSU_versioned
35                              ORGANOID
36                    ORGANOID_versioned
37                          PDC_metadata
38                PDC_metadata_versioned
39            Quant_Maps_Tissue_Biopsies
40  Quant_Maps_Tissue_Biopsies_versioned
41                                TARGET
42                      TARGET_versioned
43                                  TCGA
44                        TCGA_versioned
45                               VAREPOP
46                     VAREPOP_versioned
47                                  WCDT
48                        WCDT_versioned
49                           annotations
50                 annotations_versioned
51                             functions
52                       pancancer_atlas
53                  supplementary_tables

In [15]:
# List tables in the TCGA dataset
tables = pd.DataFrame(
  data=[
    {"table_id": table.table_id} for table in list(
      client.list_tables("{}.TCGA".format(project))
    )
  ]
)
tables

                                        table_id
0         DNA_methylation_chr10_hg19_gdc_current
1         DNA_methylation_chr10_hg38_gdc_current
2         DNA_methylation_chr11_hg19_gdc_current
3         DNA_methylation_chr11_hg38_gdc_current
4         DNA_methylation_chr12_hg19_gdc_current
..                                           ...
71   quant_proteome_TCGA_ovarian_JHU_pdc_current
72  quant_proteome_TCGA_ovarian_PNNL_pdc_current
73                 radiology_images_tcia_current
74                      slide_images_gdc_current
75             somatic_mutation_hg38_gdc_current

[76 rows x 1 columns]

In [17]:
# Describe the clinical dataset
clinical_schema = client.query(
  (
    "SELECT * "
    "FROM `{}.TCGA`.INFORMATION_SCHEMA.COLUMNS "
    "WHERE table_name='clinical_gdc_current'"
  ).format(project)
).result().to_dataframe()
clinical_schema

   table_catalog  ... clustering_ordinal_position
0     isb-cgc-bq  ...                        None
1     isb-cgc-bq  ...                        None
2     isb-cgc-bq  ...                        None
3     isb-cgc-bq  ...                        None
4     isb-cgc-bq  ...                        None
..           ...  ...                         ...
65    isb-cgc-bq  ...                        None
66    isb-cgc-bq  ...                        None
67    isb-cgc-bq  ...                        None
68    isb-cgc-bq  ...                        None
69    isb-cgc-bq  ...                        None

[70 rows x 15 columns]

In [21]:
# Get number of samples for each cancer type
project_num_samples = client.query(
  (
    "SELECT proj__project_id, count(*) as num_samples "
    "FROM `{}.TCGA`.clinical_gdc_current "
    "GROUP BY proj__project_id "
    "ORDER BY num_samples DESC "
  ).format(project)
).result().to_dataframe()
project_num_samples

   proj__project_id  num_samples
0         TCGA-BRCA         1098
1          TCGA-GBM          617
2           TCGA-OV          608
3         TCGA-LUAD          585
4         TCGA-UCEC          560
5         TCGA-KIRC          537
6         TCGA-HNSC          528
7          TCGA-LGG          516
8         TCGA-THCA          507
9         TCGA-LUSC          504
10        TCGA-PRAD          500
11        TCGA-SKCM          470
12        TCGA-COAD          461
13        TCGA-STAD          443
14        TCGA-BLCA          412
15        TCGA-LIHC          377
16        TCGA-CESC          307
17        TCGA-KIRP          291
18        TCGA-SARC          261
19        TCGA-LAML          200
20        TCGA-ESCA          185
21        TCGA-PAAD          185
22        TCGA-PCPG          179
23        TCGA-READ          172
24        TCGA-TGCT          150
25        TCGA-THYM          124
26        TCGA-KICH          113
27         TCGA-ACC           92
28        TCGA-MESO           87
29         TCGA-UVM           80
30        TCGA-DLBC           58
31         TCGA-UCS           57
32        TCGA-CHOL           51